@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LighGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left:75px; 
    margin-right:75px;
    margin-top: 50px;
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: var(--DesaturatedBlue);
}
.section{
margin-top: 10%;
width:90%;
margin-left:75px ;
display:flex;
}
h1{
    font-size: 35px;
    color:var(--VeryDarkBlue);

}
p{
    color:var(--DesaturatedBlue);
    font-size: 18px;
}
.input{
    height: 29px;
    width:270px;
    
}
.button{
    background-color:var(--BrightBlue);
    border: none;
    color:var(--LighGrayishBlue);
    width:170px;
    height:34px;
    margin-left: 10px;
}
.picture{
    width: 80%;
    margin-left: 75px;
}
